<% if @comment.errors.any? %>
  var markup = '<h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2><ul>'
  <% @comment.errors.full_messages.each do |message| %>
    markup += '<li><%= message %></li>'
  <% end %>
  markup += '</ul>'
  $('#notices').append('<div class="error"><div class="remove_notice">X</div>' + markup + '</div>');
  $('.error').last().delay(5000).fadeOut('slow', function(){ $(this).remove(); });
<% else %>
  $('#list').prepend('<%= escape_javascript(render :partial=>'comment', :locals=>{ :comment=>@comment }) %>');
  $('#notices').append('<div class="notice"><%= notice %><div class="remove_notice">X</div></div>');
  $('.notice').last().delay(5000).fadeOut('slow', function(){ $(this).remove(); });
<% end %>

